@model SchoolPortal.Models.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="panel panel-info">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
        <div class="row">
            <div>
                <span class="col-xs-2">@Html.LabelFor(m => m.UserId)</span>
                <span class="col-xs-2">@Html.EditorFor(m => m.UserId)</span>
            </div>
        </div>
        <div class="row">
            <div>
                <span class="col-xs-2"> @Html.LabelFor(m => m.Password)</span>
                <span class="col-xs-2"> @Html.EditorFor(m => m.Password)</span>
            </div>
        </div>
    </div>

</div>