
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="panel panel-primary">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
        @Html.TextBox("userId")
        @Html.TextBox("password")
    </div>

</div>